# File:         /etc/nagios/nrpe.d/shipops_specialty_checks.cfg
# Author:       Paul Mena (pmena@whoi.edu)
# Date:         Tue Feb 28 2023
# Description:  local checks for ship feeds to manor
#
command[check_armstrong_underway_data]=/usr/lib/nagios/plugins/check_file_age -w 10800 -c 21600 -f /srv/ships/armstrong/status_screen/data.json
command[check_atlantis_underway_data]=/usr/lib/nagios/plugins/check_file_age -w 10800 -c 21600 -f /srv/ships/atlantis/status_screen/data.json
command[check_tioga_underway_data]=/usr/lib/nagios/plugins/check_file_age -w 1800 -c 3600 -f /srv/ships/tioga/status_screen/datascreen.db
command[check_armstrong_shiptrack_data]=/usr/lib/nagios/plugins/check_file_age -w 7200 -c 14400 /srv/ships/armstrong/data/shiptrack/gmt.xy
command[check_atlantis_shiptrack_data]=/usr/lib/nagios/plugins/check_file_age -w 7200 -c 14400 /srv/ships/atlantis/data/shiptrack/gmt.xy
command[check_tioga_shiptrack_data]=/usr/lib/nagios/plugins/check_file_age -w 7200 -c 14400 /srv/ships/tioga/data/shiptrack/gmt.xy
command[check_tioga_home_data]=/usr/lib/nagios/plugins/check_file_age -w 129600 -c 172800 /srv/ships/tioga/home_data/shiptrack/gmt.xy
command[check_armstrong_wiki]=/usr/lib/nagios/plugins/check_file_age -w 129600 -c 172800 /var/www/html/dokuwiki/data/meta/_dokuwiki.changes
command[check_atlantis_wiki]=/usr/lib/nagios/plugins/check_file_age -w 129600 -c 172800 /var/www/html/atlantis_dokuwiki/data/meta/_dokuwiki.changes
command[check_shore_elog]=/usr/lib/nagios/plugins/check_procs -c 1: -C elogd -a 8099
command[check_atlantis_elog]=/usr/lib/nagios/plugins/check_procs -c 1: -C elogd -a 8102
command[check_tioga_elog]=/usr/lib/nagios/plugins/check_procs -c 1: -C elogd -a 8104
command[check_armstrong_elog]=/usr/lib/nagios/plugins/check_procs -c 1: -C elogd -a 8105
command[check_apache]=/usr/lib/nagios/plugins/check_procs -c 1: -C apache2
command[check_dashboard]=/usr/lib/nagios/plugins/check_procs -c 2: -C gunicorn -a 5000
